.nav {
  display: flex;
  justify-content: center;
}

.link {
  margin: 1rem 13rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(29, 1, 51);
}

.container-categories{
  display: flex;
  justify-content: center;
}